#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flexrow {
  display: flex; 
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.flexcol {
  display: flex; 
  flex-direction: column;
}

.button:hover {
  /* border: 1px grey solid;
  border-radius: 12px; 
  padding: 5px; */
  color: #857958;
  cursor: pointer;
}

.element {
  margin-left: 3px;
  margin-right: 10px;
}

.title_multi {
  margin-left: 5px;
  background-color: #d1cfe2;
  border-radius: 12px;
  padding: 5px;
}

.title_num {
  margin-left: 5px;
  background-color: #ebd8d0;
  border-radius: 12px;
  padding: 5px;
}

.title_text {
  margin-left: 5px;
  background-color: #b5d6d6;
  border-radius: 12px;
  padding: 5px;
}

.title_date{
  margin-left: 5px;
  background-color: #c6e2e9;
  border-radius: 12px;
  padding: 5px;
}

.title_title {
  margin-left: 5px;
  background-color: #ffd6a5;
  border-radius: 12px;
  padding: 5px;
}
